body {
    background: white;
    text-align: center;

}

.img {
    vertical-align: middle;
    border-style: none;
    text-align: center;
    width: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #f8eeec;
  overflow: hidden;
  width: 85%;   
  margin: 0 auto;/* full width of the page */
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: center;
  height: 10px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 auto;
  background-color: #fff9e3;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: palegoldenrod;
  color: #FFFADA;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: gold;
}

.box {
  background-color: chocolate;
  width: 85%;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
    padding: 1%;
    width: 75%;
}


@keyframes marquee {
    from {
        transform: translateX(85%);
    }
    to {
        transform: translateX(-85%);
    }
}

.marquee-content {
    animation-play-state: paused;
}

.column {
  float: left;
}

.left {
  width: 25%;
}
.middle{
  width: 50%;
}

.right {
  width: 25%;
}

.sidenav {
  width: 7%;
  position: fixed;
  z-index: 1;
  top: 40%;
  left: .5%;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav b {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}