body {
    background: white;
    text-align: center;

}

img {
    vertical-align: middle;
    border-style: none;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #f8eeec;
  overflow: hidden;
  width: 85%;   
  margin: 0 auto;/* full width of the page */
  
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: center;
  height: 10px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 auto;
  background-color: #fff9e3;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: palegoldenrod;
  color: #f3ead3;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: gold;
}

.box {
  background-color: chocolate;
  width: 85%;
  margin: auto;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
}

.head-container{
  position: fixed;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
    padding: 10px;
    width: 75%;
}


@keyframes marquee {
    from {
        transform: translateX(85%);
    }
    to {
        transform: translateX(-85%);
    }
}

.marquee-content {
    animation-play-state: paused;
}

.column {
  float: left;
}

.left {
  width: 25%;
}
.middle{
  width: 50%;
}

.right {
  width: 25%;
}
    #pokedex {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    
    }
    .pokemon-card {
      background: white;
      border-radius: 12px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.2);
      width: 80px;
      height: 10px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
    }

.pokemon-card:hover {
  transform: scale(1.05);
}

    .pokemon-card img {
      width: 40px;
      height: 40px;
      text-align: center;
    }

    .pokemon-card h3 {
      margin: 10px 0 8px;
      font-size: 10px;
      text-transform: capitalize;
    }
    .column {
      background: white;
      
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      padding: 10px;
      width: 220px;
    }

    .column h2 {
      background: #2a75bb;
      color: #fff;
      padding: 8px;
      border-radius: 8px;
      font-size: 18px;
      margin-top: 0;
}
.flex-container {
    display: flex;
    padding-top: 3px;
  border-radius: 6px;
}
.flex-child {
    flex: 1;
  margin: 4px;
  padding: 8px;
  background-color: antiquewhite;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);  
  
}  

h2{
  background-color: chocolate;
  margin: 5px;
  border-radius: 6px;
}

h1{
  margin: 5px;
  font-size: 15px;
  border-radius: 6px;
}

p{
  text-transform: capitalize;
}

.hidden-info {
  display: none;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 10;
}

.pokemon-card:active .hidden-info {
  display: block; /* or visibility: visible; */
}


